.logo {
  display: inline-block;
  font-family: var(--secondary-font);
  @include font(700, 24px, 28px);
  letter-spacing: 0.03em;
  color: inherit;
  animation-duration: 1000ms;

  @media screen and (min-width: 1200px) {
    @include font(700, 26px, 31px);
  }
}

.header__logo {
  @media screen and (min-width: 768px) {
    margin-right: 88px;
  }

  @media screen and (min-width: 1200px) {
    margin-right: 93px;
  }
}

.footer__logo {
  margin-bottom: 20px;
}

.logo__web {
  color: var(--accent-color);
}

.logo__studio_theme_light {
  color: var(--quaternary-color);
}

.logo__studio_theme_dark {
  color: var(--tertiary-color);
}
